/*** Resets ***/
* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

a,p {
    font-size: 0.813rem;
}