/*** Containers Padrões, Váriaveis etc ***/
.padding-container {
    margin: 0 auto;
}

@media(max-width: 2800px) {
    .padding-container {
        padding: 0 100px;
    }
}

@media(max-width: 1980px) {
    .padding-container {
        padding: 0 160px;
    }
}

@media(max-width: 1024px) {
    .padding-container {
        padding: 0 60px;
    }
}

@media(max-width: 768px) {
    .padding-container {
        padding: 0 20px;
    }
}

:root {
    --secondary-color: #3d3635;
    --tertiary-color: #ffffff;
    --main-color: #4b3621;
}

.post-icon-wrapper {
    font-size: 11px;
    color: var(--secondary-color);
    margin: 0 5px 0 0;
}

.post-icon-wrapper a {
    color: var(--secondary-color);
    font-size: 11px;
}


/*** Header ***/
.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.875em 0 1.875em 0;
}

.nav-logo {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2ch;
    color: var(--secondary-color);
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
}

.nav-list {
    margin: 0 1.875em 0 0;
}

.nav-list a {
    color: var(--main-color);
    font-weight: 900;
    font-size: 0.875rem;
}

.nav-list i {
    color: var(--main-color);   
    font-size: 0.875rem;
}

.search-nav {
    background: var(--main-color);
    padding: 1.875em 0 1.875em 0;
}

.search-nav i,
.search-nav a {
    font-size: 13px;
}

.search-nav i {
    font-weight: 600;
    color: var(--tertiary-color);
}

.search-nav a {
    font-size: 0.813rem;    
    color: var(--tertiary-color);
    font-style: italic;
}

/*** Blog-Container ***/
#blog {
    padding: 40px 0;
}
.blog-container {
    display: grid;
    grid-template-columns: 2fr 4fr;
    align-items: start;
    gap: 20px;
}

/*** Sidebar ***/

.sidebar {
    padding: 20px;
    background-color: #f7fff9;
    border: 1px solid #e6e6e6;
}

.sidebar-categories,
.sidebar-posts {
    margin-bottom: 20px;
}

.sidebar-categories h3,
.sidebar-posts h3,
.sidebar-tags h3 {
    margin-bottom: 10px;
    color: var(--secondary-color);
}

.sidebar-category-link {
    display: inline-block;
    color: var(--secondary-color);
    font-weight: 400;
    margin-bottom: 20px;
    margin-left: 5px;
}


.sidebar-title-hr {
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
    margin-bottom: 20px;
}

.sidebar-post-date,
.sidebar-post-comment {
    font-size: 11px;
}

.sidebar-post {
    margin-bottom: 20px;
}

.sidebar-post-link {
    display: inline-block;
    color: var(--main-color);
    font-weight: 600;
    margin-bottom: 5px;
}

.sidebar-tag {
    padding: 6px 15px;
    background-color: var(--main-color);
    color: var(--tertiary-color);
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 5px;
}

/*** Blog-Posts ***/
.blog-post h3 {
    margin-bottom: 20px;
    color: var(--secondary-color);
}

.blog-post img {
    max-width: 100%;
    height: 350px;
    object-fit: cover;
    width: 100%;
}

.blog-post p {
    margin-bottom: 10px;
}

.blog-post-btn {
    padding: 6px 15px;   
    background-color: var(--main-color); 
    color: var(--tertiary-color);
    border-radius: 2px;
    display: inline-block;
    margin-bottom: 40px;
}

/*** Responsive ***/
@media(max-width: 800px) {
    .blog-container {
        grid-template-columns: 1fr;        
    }

}